.table-name-title {
    font-size: 1.05rem;
    font-weight: 700;
    color: #252525;
}
.title-l {
    font-size: 1.2rem;
    font-weight: bold;
}

.title-b {
    font-weight: bold;
    font-size: 1.05rem;
}

.title-b-min {
    font-size: 15px;
    font-weight: bold;
}

.title-modal {
    font-weight: bold;
    font-size: 16.5px;
    color: #555;
}

.title-drawer {
    font-weight: bold;
    font-size: 1.1rem;
}


.title-login{
    font-size: 1.35rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.title-center {
    text-align: center;
}

.color-F50{
    color: #f50;
}

.color-189{
    color: #1890FF;
}

.span-icon{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    border-radius: 50%;
}

.font16{
    font-size: 16px;
    font-weight: bold;
}

.span-sign{
    font-size: 12px;
    color: #4680FF;
    display: inline-block;
    padding: 2px 4px;
    border-bottom: 2px solid #ccc;
}

